@charset "UTF-8";

/*

    HTML id -> CSS #
    HTML class -> .

*/
body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(4, 195, 0);
}

#principal{
    text-align: center;
    background-color:  rgb(4, 195, 0);
    color: white;
}

h2 {
    color: rgb(79, 150, 71);
}

.intermediario {
    color: #80793c;
}

.avançado {
    color: #803c3c;
}