main {
    background-image: url(imagens/background001.jpg);
}

.c1 {
    height: 250px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
}

#c2 {
    height: 250px;
    background-image: url('imagens/background001.jpg');
    border: 5px solid black;
}

#c5 {
    height: 250px;
    background-image: url('imagens/background002.jpg');
    border: 5px solid black;
}